[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-migrate = "*"
authlib = "*"
pyjwt = "*"
python-jose = "*"
six = "*"
requests = "*"
pytest-flask = "*"
pytest = "*"
coverage = "*"
gunicorn = "*"
setuptools = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest-mock = "*"

[requires]
python_version = "3.10"
